body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.card-link {
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: 0.2s;
}

.card-link:hover {
    background: #f0f0f0;
    transform: scale(1.03);
}
